
data/raw_counts_flow_sorted_bulk.txt
data/SeuratObject.RData
data/DESeq2_wholeLung_DE.csv
data/regev_lab_cell_cycle_genes.txt
data/Table S2_TissueProteome_imputed.txt
data/Table S1_AllMarkersCelltypes.txt
data/raw_counts_whole_lung_bulk.txt
data/DE_Minibulk_EP.csv
data/DE_Minibulk_MAC.csv
data/Table S6_SingleCell_DGE.xlsx
data/Table S2_DGE_bulk.xlsx
data/Table S5_SingleCell_DGE.txt
data/2018_Angelidis.tar
data/MCACelltypeMarkers.xlsx
data/MappingLogdata.csv
